<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
    			<link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
            	 {% javascripts 'bundles/app/js/*' %}
            		<script src="{{ asset_url }}"></script>
                 {% endjavascripts %}
            {% endblock %}
        </div>
    </body>
</html>
