{% extends 'base.html.twig' %}

{% block body %}
<div class="table-responsive">
    <h1>Player</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ player.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ player.lastName }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ player.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('player_edit', { 'id': player.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
